{% extends 'main/principal.html'%} {% block content %}
<div class="row">
  <p>
    Para añadir mas articulos da click en:
    <a href="{% url 'main:homepage_get'%}">Productos</a>
  </p>
  {% for key, value in factura.items %} {% for v in value %}
  <div class="col s12 m6">
    <div class="card">
      <div class="card-image">
        <img src="{{v.url_imagen}}" />
        <span class="card-title">{{v.nombre_articulo}}</span>
      </div>
      <div class="card-content">
        <p>Total: ${{v.total}} COP.</p>
        <p>Cantidad: {{v.cantidad}}</p>
      </div>
    </div>
  </div>
  {%endfor%} {%endfor %}
</div>

<div class="row">
  <div class='col s12 m6'>
    <p>Total a PAGAR: ${{total_pagar}} COP.</p>
  </div>
</div>
<div class="row">
  <div class='col s12 m6'>
    <form action="{% url 'main:cancelar'%}" method='GET'>
      <input type="hidden" id="id_user" type="text" name="id_user" value="{{user.id}}">
      <button class="btn waves-effect waves-light" type="submit" name="action" style="width: 100%;">
        <i class="material-icons right">close</i> Cancelar
      </button>
    </form>
  </div>
</div>
<div class="row">
  <div class='col s12 m6'>
    <form action="{% url 'main:pagar'%}" method='POST'>
      {% csrf_token %}
      <input type="hidden" id="id_user" type="text" name="id_user" value="{{user.id}}">
      <input type="hidden" id="total_pagar" type="text" name="total_pagar" value="{{total_pagar}}">
      <button class="btn waves-effect waves-light" type="submit" name="action" style="width: 100%;">Pagar
        <i class="material-icons right">send</i>
      </button>
    </form>
  </div>
</div>
{% endblock %}