{% extends 'main/principal.html'%} {% block content %}
<h1>Ingreso</h1>
<div class="col s12 m6">
  <form action="" method="POST">
    {% csrf_token %} {{form.as_p}}
    <button type="submit">Enviar</button>
  </form>
</div>

Si no tienes una cuenta ve a <a href="{% url 'main:registro'%}">Registro</a> {% endblock %}
