{% extends 'main/principal.html'%} {% block content %}
<div class="row">
  {% for articulo in articulos %}
  <div class="col s12 m6">
    <div class="card">
      <div class="card-image">
        <img src="{{articulo.url_imagen}}" />
        <span class="card-title">{{articulo.nombre_articulo}}</span>
      </div>
      <div class="card-content">
        <p>Precio: ${{articulo.precio_articulo}} COP.</p>
      </div>
      <div class="card-action">
        <form action="{% url 'main:homepage_post' user_id=user.id articulo_id=articulo.id_articulo %}" method="POST">
          {% csrf_token %} {{ form }}

          <button class="btn waves-effect waves-light" type="submit" name="action">
            Agregar al carro
          </button>
        </form>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}