<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Import CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" />
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MY STORE</title>
</head>

<body>
    {% include "main/includes/navbar.html"%}
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
    <!-- Import Scripts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script>M.AutoInit();</script>
    {% include 'main/includes/mensajes.html'%}
</body>

</html>