{% if messages %} {% for message in messages%} {% if message.tags == 'success'%}
<script type="text/javascript">
  M.toast({
    html: "{{message}}",
    classes: "green rounded",
    displayLength: 1000,
  });
</script>

{% endif %} {% if message.tags == 'error'%}
<script type="text/javascript">
  M.toast({
    html: "{{message}}",
    classes: "red rounded",
    displayLength: 2000,
  });
</script>

{% endif %} {% if message.tags == 'info'%}
<script type="text/javascript">
  M.toast({
    html: "{{message}}",
    classes: "black rounded",
    displayLength: 2000,
  });
</script>

{% endif %} {% endfor %} {% endif %}
