<nav>
    <div class="nav-wrapper blue darken-4 navbar-fixed">
        <a href="{% url 'main:homepage_get' %}" class="brand-logo">My Store</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        {% if user.is_authenticated %}
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="#">{{user.username}}</a></li>
            <li>
                <a href="{% url 'main:homepage_get'%}">Productos</a>
            </li>
            <li>
                <a href="{% url 'main:carrito' user_id=user.id %}">Carrito</a>
            </li>
            <li><a href="{% url 'main:salir' %}">Salir</a></li>
            {% else %}
            <a href="{% url 'main:ingreso' %}" class="brand-logo">My Store</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="{% url 'main:registro' %}">Registro</a></li>
                <li><a href="{% url 'main:ingreso' %}">Ingreso</a></li>

            </ul>
            {% endif %}
    </div>
    <ul class="sidenav" id="mobile-demo">
        {% if user.is_authenticated %}
        <li><a href="#">{{user.username}}</a></li>
        <li>
            <a href="{% url 'main:homepage_get'%}">Productos</a>
        </li>
        <li>
            <a href="{% url 'main:carrito' user_id=user.id %}">Carrito</a>
        </li>
        <li><a href="{% url 'main:salir' %}">Salir</a></li>
        {% else %}
        <a href="{% url 'main:ingreso' %}" class="brand-logo">My Store</a>
        <ul id="nav-mobile">
            <li><a href="{% url 'main:registro' %}">Registro</a></li>
            <li><a href="{% url 'main:ingreso' %}">Ingreso</a></li>
        </ul>
        {% endif %}
    </ul>
</nav>